/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color : #46b8da;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color            : #333;
	text-shadow      : none; /* Prevent inheritence from `body` */
	background-color : #fff;
	border           : 1px solid #fff;
}

/*
 * Base structure
 */
html,
body {
	height : 100%;
}

body {
	color                   : #fff;
	text-align              : center;
	text-shadow             : 0 1px 3px rgba(0, 0, 0, .5);
	background              : url("../../images/dota-logo.jpg") no-repeat center fixed;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}
